*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(bluesky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.back a{
    color: white;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px 0 15px;
}
span{
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: white;
}
::-webkit-input-placeholder{
    color: white;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    width: 100%;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.3s;
}
.submit:hover{
    box-shadow: 4px 10px 20px 4px rgba(14, 13, 13, 0.2);
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: white;
    margin-top: 10px;
}
.left{
    display: flex;
}
label a{
    color: white;
}
.right{
    text-decoration: none;
}
.right:hover{
    text-decoration: underline;
}